<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
		<title>ubermajestix.com || urban elk || awesomeness</title>
		<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/uber.css"></link>
	</head> 
	<body>
		<img style="position: absolute; top: -55px; left: 0px; z-index: -100;" src="/images/um_logo.png" alt="Um_logo"/>
		<div class="white_border" style="margin-top: 40px;">
			<div style="padding: 5px; float: right;"></div>
			<div id="uber" class="uber">
				<a href="/"><img src="/images/logo.png" alt="Logo_trans" action="index"/></a>
				<br/>
			</div>                       
			<div style="margin-left: 90px; margin-top: -20px;">
			 <%= yield %> 
			</div>
			
		</div>
	</body>
</html>